.logo{
  
}
.ant-layout{
  background: url(../../common/imgs/bg.png);
  height: 100%;
}
.home-content{
  padding: 0 30px;
  .content-style{
    margin: 20px auto;
  }
}
.home-foot{
  background: #001529;
  text-align: center;
  color: #ffffff
}